#title {
    font-family: 'Italianno', cursive;
    font-size: 50px;
}

#navbar {
    background-color: #a5c9ea;
}

#user {
    background-color: #DFAEAB;
}

.elements {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'Josefin-Slab', serif;
    color: #17B914;
}

.texto_dia_seleccionado {
    color: #313131;
    font-size: 40px;
    margin-bottom: 30px;
}

#boton-fecha {
    width: 120px;
    height: 50px;
}

.buttonReserva {
    background-color: #C4C4C4;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonReserva:focus {
    background-color: #A5C9EA;
}

.buttonReserva:active {
    background-color: #A5C9EA;
}

.buttonAtras {
    background-color: #FF0000;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 50px;
}

.buttonReservar {
    background-color: #04B962;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    margin-right: 50px;
}

.bigtable {
    padding: 60px;
    border-collapse: separate;
    border-spacing: 100px 0;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



/* Para hacer un hover en el navbar */
@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }

    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }

    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }
}

/* Para hacer un hover en las imag */
.col {
    position: relative;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.col:hover .img {
    opacity: 0.3;
}

.col:hover .middle {
    opacity: 1;
}

.col:hover .text {
    background-color: #04AA6D;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
}

.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;

}

.popup a {
    background: salmon;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    margin: 30px auto;
    display: block;
    width: 50%;
}

.popup a:hover {
    background: palevioletred;
    transition: all 0.2s;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}