#title {
    font-family: 'Italianno', cursive;
    font-size: 50px;
}

#navbar {
    background-color: #a5c9ea;
}

#user {
    background-color: #DFAEAB;
}

.elements {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'Josefin-Slab', serif;
    color: #17B914;
}